html,
body {
    font-family: Helvetica;
    font-size: 22px;
    margin:0;
}


@keyframes slideinfromleft{
    0%{
        transform:translateX(-100%)
    }
     100%{transform:translateX(0%)
}
}



#Hobby{
font-size: 400%;
text-indent: 25%;
position: relative;
display: inline-block;
-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#Hobby::after {
content: "";
position: absolute;
z-index: -1;
top: 0;
left: 0;
opacity: 0;
-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#Hobby:hover {
-webkit-transform: scale(1.25, 1.25);
transform: scale(1.25, 1.25);
}

#Hobby:hover::after {
  opacity: 1;
}

img {
    animation:slideinfromleft 1s ease-in;
    object-fit: contain;
    border-style: solid;
    margin-top: 12%;
    margin-left: 15%;
    max-width: 65%;
    max-height: 65%;
    margin-bottom: 33px;
    width: auto;
    height: auto;
}



.container {
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(5, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(1fr));
    grid-template-areas:
        "a h h h h"
        "a c c c c"
        "a c c c c"
        "a c c c c"
        "a f f f f"              
}



h1 {

    margin-top: 25px;
    margin-bottom: 25px;
}

h2 {
    margin-top: 0px;
    background-color: black;
    color: honeydew;
    text-align: center;
}

h3 {
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: normal;
    font-size: 30px;
    text-indent: 25px;
}

h4 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 48px;
    font-weight: bolder;
    text-indent: 34px;
}


a {
    color: white;
}

a:visited {
    color: black;
}

#indented {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    text-indent: 1em;
}

a:hover {
    background-color: honeydew;
}



header {
    grid-area: h;
    background-color: #ffffff;
}

section#a {
    grid-area: a;
    background-color: #0f8bff;
}

section#b {
    grid-area: b;
    background-color: #ffffff;
}

section#c {
    grid-area: c;
    background-color: #ffffff;
}

footer {
    grid-area: f;
    background-color: #ffffff;
}



.change p {
    font-size: 1em;
}

header {
    text-align: center;
}

#header1 {
    margin-bottom: 0.5em;
    font-size: 7em;
    font-style: italic;
    font-family: cursive;
}


footer {
    text-align: left;
}

.Education {
    font-size: 1.2em;
    list-style-type: none;
    text-align: left;
}

li {
    list-style-type: none;
    text-align: left;
}

hr {
    border:  solid black;
}

#desc {
    text-emphasis: none;
    text-decoration: none;
    text-align: left;
    font-size: .8em;
}

#type2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
}

#type {
    margin: 1.2em;
    font-size: 1em;
}

.hobbies {
    display: grid;
    grid-template: repeat(4, 155px) / repeat(1, 155px);
    text-indent: 1em;
    
}


.word {
    font-weight: bold;
    font-size: 1.3em;
}


.paragraph {
    font-size: 1em;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#header {
    font-size: 1.5em;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-indent: 1em;
}

.newparagraph {
    font-size: 1em;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}




@media screen and (max-width:650px) {
    html,

   
    p {
      color: black;
    }


    h2{
        font-size: 1em;
        color: white;
    }

    #type2{
        font-size: 1em;

    }

    h4{
        font-size: 1.5em;
    }

    h3{
        font-size: 1em;
    }

    #indented{
        text-indent: 1.3em;
        font-size: .7em;
    }

    #header1{
        font-size: 3em;
    }
    
    h4{
        font-size: 1em;
    }

    #Hobby {
        
        font-size: 45%;
        text-indent: 23%;
    }

    .Education{
        font-size: .8em;
    }

    .newparagraph{
        font-size: 0.8em;
    }

    #header{
        font-size: .8em;
    }
    

    .hobbies {
        display: grid;
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);
        text-indent: 5em;
        
    }
    
    .container{   
        display: grid;
        grid-template: repeat(3, 10em) / repeat(5, 1fr);
        grid-template-columns: repeat(auto-fit, minmax(1fr));
        grid-template-areas:
            "h h h h h"
            "c c c c c"
            "c c c c c"
            "c c c c c"
            "f f f f f"
            "a a a a a"
    }

    #Hobby{
        font-size: 4em;
    }

}
